@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vina+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
}

html{
    scroll-behavior: smooth;
}

.body{
    min-height: 50vh; 
    background-image: linear-gradient(rgba(182, 166, 166, 0),rgba(138, 138, 138, 0.41)), url(BGG.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

header{
     min-height: 50vh; 
    background-image: linear-gradient(rgba(185, 181, 181, 0.745),rgba(203, 205, 61, 0)), url(BGG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div.Container{
    width: 80%;
    margin: auto;
}

nav{
    height: 80px;
}

nav h1{
    float: left;
    line-height: 90px;
    font-size: 30px;
    font-size: inline;
    text-transform: uppercase;
}

nav h1 span{
    color: rgb(0, 0, 0);
}

nav ul{
    float: right;
    line-height: 90px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 0px 8px;
    transition: all 0.5s ease;
}

nav ul li a:hover{
    color: rgb(255, 255, 255);
    transition: all 0.5s ease;
    
}

div.Images{
    float:left;
}

div.Images img.Image1{
    width: 350px;
    height: 800px;
    transform: translateY(-30vh);
    
}

div.Article{
    width: 50;
    margin: auto;
    transform: translateY(15vh);
}

div.Article h2.Small{
    font-size: 35px;
}

div.Article h2.Big{
    font-size: 55px;
}

div.Article p{
    font-size: 17px;
    padding-bottom: 30px;
}

div.Article a.Active{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px;

    transition: all 0.5s ease;
}

div.Article a.Active:hover{
    background-color: hsla(0, 20%, 96%, 0.977);
    color: rgb(7, 7, 7);
    transition: all 0.5s ease;
}

div.Article a.DownloadCV{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;

    color: rgb(255, 255, 255);;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px;
    transition: all 0.5s ease;
}

div.Article a.DownloadCV:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: all 0.5s ease;
}

div.Copyright{
    min-height: 5vh;
    background-color: rgb(255, 255, 255);
    border-top: 8px solid rgb(24, 24, 24);
}

div.Copyright address{
    text-align: center;
    padding: 10px;
    font-size: smaller;
}


.Imm{
    margin-right: 400px;
    padding-bottom: 200px;
}  

img{
    align-self: flex-end;
    object-fit: cover;
    float: left;
    max-width: 50%;
    height: auto;
}

section {
    height: 50vh;
    border: 1px solid black;
    display: flex;
}
section.aboutme{
    width: 100%;
    padding: 78px;
    background-color: rgb(115, 113, 113);
    top: 50%;
    bottom: 50%;
    gap: 20px;
}
div.abtme{
    width: 50%;
    margin: auto;
    text-align: center;
}
div.abtme h2{
    font-size: 50px;
    color: white;
}
div.abtme p{
    font-size: 20px;
    color: white;
    font-weight: 200;
}

div.abtme{
    width: 100%;
    float: left;    
    text-align: center;
}
div.abtme h2{
    font-style: normal;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
div.abtme p{
    font-style: oblique;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 200;
}


footer{
    background: #545353;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 10px;
    color: rgb(0, 0, 0);   
    margin-top: 10px;

}
.footer-content{
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.socmed{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem  3rem ;
}
.socmed li{
    margin: 10px;
    padding-top: 20px;
    padding-right: 25px;
}
.socmed a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.socmed a i{
    font-size: 1.5rem;
    transition: color .4s ease;
}
.socmed a:hover i{
    color: #f1eded;
}   

